header{
    background-color: black;
    text-align: center;
    color: white;
    line-height:5.5em;
    padding: 10px;
}
.main-content{
    overflow: hidden;
}
.main-content .nav{
    float: left;
    width: 12%;
    height: 100%;
    position: absolute;  
}
.main-content .nav ul{
    list-style-type:none;
    padding: 0;
}
.main-content .nav ul li{
    background: gray;
    padding: 20px;
    margin: 1px;
    text-align: center;
}
.main-content .nav ul li a{
    text-decoration: none;
    color: yellowgreen;
  
}
.main-content .content{
    float: right;
    overflow: hidden;
    width: 86%;
}
#tbTaiKhoan, #tbLoaiSach, #tbBinhLuan{
    width: 100%;
    font-size: 20px;
    text-align:center
}
#tensach{
    width: 90px;
}
#tenloai{
    width: 45px;
}
table{
    border-collapse: collapse;
}
th, td{
    border:1px solid black;
}

table th{
    height:50px;
}
table td{
    padding:10px;
}
h2{
    color:#f30ae1;
    padding-left: 32%;
}