body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.menu ul li {
    color:white;
}
header {
}

.slide {
    background-image: url(../images/slide2.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

.menu {
    text-align: center;
    background: #514949;
}

    .menu ul {
        list-style: none;
        margin: 0;
        text-align: center;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

        .menu ul li {
            display: inline-block;
            text-decoration: none;
            padding-left: 15px;
            line-height: 2em;
        }

.categories ul li a {
    text-decoration: none;
}
/*content*/
.content {
    overflow: hidden;
}

.right {
    float: right;
    width: 70%;
}

.left {
    float: left;
    width: 30%;
}

.left_div {
    width: 95%;
    margin: auto;
    border: 2px solid red;
    border-radius: 20px;
    margin-top: 20px;
}

.form_login {
    width: 90%;
    margin: auto;
}

#TaiKhoan,#MatKhau {
        font-size: 23px;
        margin: 25px 0px 0px 4px;
        width: 91%;
        padding: 10px;
        border: 2px solid red;
        line-height: 2em;
}

.signin {
    font-size: 30px;
    margin-top: 25px;
    border: none;
    background: #915fbe;
    color: white;
    padding: 10px 30px 10px;
    margin-bottom: 20px;
}

.title h3 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: monospace;
}

.title {
    background: #ef522f;
    color: white;
    border-radius: 20px;
}

.categories ul {
    font-weight: bold;
}

.categories li {
    padding-top: 10px;
    font-size: 25px;
}

.book_container {
    width: 99%;
    border: 2px dashed red;
    font-size: 25px;
    margin-top: 10px;
}

.book_container h2 {
        color: red;
    }
.book_container h2 a{
        color: red;
        text-decoration: none;
    }

.book_content {
    margin: 20px;
}

.book_info {
    text-align: right;
}

.right h1 {
    color: blue;
}
.image_book img{
 	    width: 20%;
    height: 220px;
    margin: 17px 0px 21px 50px;
 }
/*footer*/
.footer {
    width: 100%;
    background: red;
    height: 50px;
    margin-top: 10px;
}
