@*comment*@
@using QuanLySach.Models;
@model List<BinhLuan>
<div id="list_comment">
    @foreach (var item in Model)
    {
        <div class="form-group">
            <div>
                <strong>@Html.DisplayFor((modelItem => item.TenDangNhap))</strong>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </div>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </div>
    }
</div>
 
@*@using(Html.BeginForm("BinhLuan","Comment",FormMethod.Post))
{
    <div id="commentArea">
    <div>
        <textarea class="form-control" style="width: 100%; height: 100px;" name="binhluan" id="binhluan" placeholder="Your comment. . . . . . . . . . ."></textarea>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" name="btn_comment" value="Comment">
    </div>
</div>
}*@

@*@Ajax.ActionLink("Commet", "BinhLuan", "Comment", new AjaxOptions()
       {
           HttpMethod = "POST",
           UpdateTargetId = "comment_area",
           InsertionMode = InsertionMode.InsertAfter
       })*@
