@*comment*@
@using QuanLySach.Models;
@model List<BinhLuan>
<div id="list_comment">
    @foreach (var item in Model)
    {
        <hr />
        <div class="form-group">
            <div>
                <p><strong>@Html.DisplayFor((modelItem => item.TenDangNhap))</strong>

                    <i> @Html.DisplayFor(modelItem => item.ThoiGian)</i></p>
            </div>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </div>
    }
</div>