
@{
    ViewBag.Title = "DanhMuc_Partial";
    
}

@using QuanLySach.Models
@model List<LoaiSach>
<ul>
    @foreach (LoaiSach item in Model)
    {
        <li>
         @Ajax.ActionLink(@item.TenLoai, "ChiTietTheLoai","Book", new { @maloai = item.MaLoai, @tenloai = item.TenLoai}, new AjaxOptions()
       {
           HttpMethod = "GET",
           UpdateTargetId = "NoiDung",
           InsertionMode = InsertionMode.Replace
       })
        </li>
    }
</ul>



